*.db
*.db-journal
*.out
*.json
*.log

*.pkl
*.pt
*.bin

**/.ipynb_checkpoints
**/__pycache__
**/.vscode
**/runs
**/data
**/.cache
**/ENV
**/v3-qg/qg_utils
**/out

**/check_point
**/checkpoint
core.*

run*.sh
start.sh